body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  margin: 20px 0;
}

table,
td {
  border: 5px solid black;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: blue;
}

#restart {
  padding: 2px 10px;
  background-color: lightskyblue;
  border-radius: 5px;
}
#restart:hover{
  cursor: pointer;
}

#timer{
  padding: 5px;
}

#changeGame{
  display: none;
  padding: 2px 10px;
}