body {
  margin: 50px;
}

table {
  margin-bottom: 20px;
}

table, td {
  border: 5px solid black;
}

td{
  width:100px;
  height:100px;
  text-align:center;
  background-color: blue;
}

#restart {
  padding: 2px 10px;
  background-color: lightskyblue;
  border-radius: 5px;
}
